#!/usr/bin/make -f
# -*- makefile-gmake -*-
#
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh $@

override_dh_auto_build:
	gpg \
	  --no-autostart \
	  --no-default-keyring \
	  --no-options \
	  --lock-never \
	  --trustdb-name ./groonga-key-database \
	  --keyring ./groonga-archive-keyring.kbx \
	  --import keys
	gpg \
	  --no-default-keyring \
	  --no-options \
	  --keyring ./groonga-archive-keyring.kbx \
	  --export \
	  --armor > groonga-archive-keyring.asc

	( \
	  distribution=$$(lsb_release --id --short | tr 'A-Z' 'a-z'); \
	  code_name=$$(lsb_release --codename --short); \
	  if [ $${distribution} = "ubuntu" ]; then \
	    component=universe; \
	  else \
	    component=main; \
	  fi; \
	  echo "Types: deb deb-src"; \
	  echo "URIs: https://packages.groonga.org/$${distribution}/"; \
	  echo "Suites: $${code_name}"; \
	  echo "Components: $${component}"; \
	  echo "Signed-By: /usr/share/keyrings/groonga-archive-keyring.asc"; \
	) > groonga.sources

override_dh_install:
	install -d debian/tmp/usr/share/keyrings/
	install -m 0644 groonga-archive-keyring.asc \
	  debian/tmp/usr/share/keyrings/

	install -d debian/tmp/etc/apt/sources.list.d/
	install -m 0644 groonga.sources \
	  debian/tmp/etc/apt/sources.list.d/

	dh_install
