/*/*.tar.*
/*/apt/build.sh
/*/apt/env.sh
/*/apt/repositories/
/*/apt/tmp/
/*/yum/build.sh
/*/yum/env.sh
/*/yum/repositories/
/*/yum/tmp/
/Gemfile.lock
/ansible/password
/ansible/playbook.retry
/repositories/
